*{
    box-sizing: border-box;
}
.root{
    background: #FB6B6B;
    width: 100%;
    height: 100vh;
}
.tela{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FB6B6B;
}
.banner-t1{
    padding-top: 148px;
    display: flex;
    justify-content: center;
}
.banner-t2{
    padding-top: 42px;
    padding-bottom: 51px;
    display: flex;
    justify-content: center;
}
.logo{
    width: 136px;
    height: 161px;
}
.nome-app{
    width: 257px;
    height: 59px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
.banner-flex{
    display: flex;
}
.banner-flex .logo{
    width: 52px;
    height: 60px;
}
.banner-flex .nome-app{
    width: 203.17px;
    height: 44px;
}
.botao-iniciar{
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
    margin-top: 30px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.todas-as-perguntas{
    margin-bottom: calc( 70px + 25px );
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.stage1{
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0 22px 0 15px;
    display: flex;
    align-items: center;
}
.conteudo-stage1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play{
    width: 13px;
    height: 15px;
}
.stage2{
    width: 300px;
    height: 131px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px 22px 0 15px;
    position: relative;
}
.conteudo-stage2{
    text-align: left;
}
.virar-a-resposta{
    width: 30px;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: 6px;
}
.stage3{
    width: 300px;
    height: 131px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px 22px 0 15px;
    position: relative;
}
.conteudo-stage3{
    text-align: left;
}
.pontuacao{
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 13px;
    right: 13px;
    bottom: 6px;
}
.pontuacao button{
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 0 8px;
}
.pontuacao .ruim{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #FF3030;
}
.pontuacao .medio{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #FF922E;
}
.pontuacao .bom{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #2FBE34;
}
.stage4{
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0 22px 0 15px;
    display: flex;
    align-items: center;
}
.concluido{
    text-decoration: line-through;
}
.conteudo-stage4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer p{
    height: 22px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 14px;
}
.checks{
    display: flex;
    justify-content: center;
}
.checks img{
    width: 23px;
    height: 23px;
    margin: 6px 2.5px 10px 2.5px;
}
.nivel {
    padding-top: 15px;
}
.escondido{
    display: none;
}
